.changInputWidth {
    width: 100%;
}

.color-5DD6C9 {
    color: #5DD6C9;
}
.color-67C23A {
    color: #67C23A;
}

.color-F46B6B {
    color: #F46B6B;
}

.color-9a {
    color: #9a9a9a;
}

.color-27 {
    color: #272727;
}
.color-6b {
    color: #6b6b6b;
}
.color-6a {
    color: #6a6a6a;
}

.color-65 {
    color: #656565;
}

.border-e1 {
    border: 1px solid #e1e1e1;
}

.border-b-e1 {
    border-bottom: 1px solid #e1e1e1;
}

.border-t-e1 {
    border-top: 1px solid #e1e1e1;
}